.about {
  padding-top: 0;
  &__header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }

  &__list {
    display: flex;
    column-gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__lable {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px 15px;
    color: var(--white-text-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
