.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--secondary-background);
  background-image: var(--header-bg-gradient), url(../images/mob-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  @include retina {
    background-image: var(--header-bg-gradient),
      url(../images/mob-header@2x.jpg);
  }

  @include tablet {
    background-image: var(--header-bg-gradient), url(../images/tab-header.jpg);
    padding-top: 204px;
    padding-bottom: 204px;
    @include retina {
      background-image: var(--header-bg-gradient),
        url(../images/tab-header@2x.jpg);
    }
  }

  @include desktop {
    background-image: var(--header-bg-gradient), url(../images/desk-header.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    @include retina {
      background-image: var(--header-bg-gradient),
        url(../images/desk-header@2x.jpg);
    }
  }
}

.hero__titel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 260px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);

  @include mobile {
    font-size: 26px;
    max-width: 360px;
  }

  @include tablet {
    font-size: 26px;
    max-width: 360px;
  }

  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 24px;
  font-size: 12px;
  border: none;
  border-color: transparent;

  @include mobile {
    font-size: 16px;
  }
}
