:root {
  /* ----------------- variables ----------------- */
  --primary-text-color: #757575; /* цвет основного текста*/
  --title-text-color: #212121; /* цвет заголовков*/

  --accent-color: #2196f3; /* основной акцент + цвет логотита*/
  --header-logo-color: #000000; /* второй цвет логотита в хедере*/
  --top-line-color: #ececec; /* цвет верхней линии в хедере */

  --primary-backgraund: #ffffff; /*background страницы */
  --tean-section-background: #f5f4fa; /*background секции командв */
  --secondary-background: #2f303a; /*background футера  и героя */
  --white-text-color: #ffffff;

  --background-filter-btn: #f5f4fa;
}
